body{
  background-color: #98d684;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

#h1-container{
  height: 20vh;
  align-items: flex-end;
}

h1{
  font-size: 40px;
  font-weight: bold;
}

#main-container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer-type-display{
  font-size: 30px;
}

#pomodoro-container{
  flex-direction: column;
  width: 20vw;
  height: 30vh;
  margin-top: 10vh;
  min-width: 350px;
  min-height: 250px;
  background-color: #d8453f;
  border: 2px solid black;
  border-radius: 50%;
}

#timers-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p{
  font-size: 30px;
}

#display{
  font-size: 60px;
}

#controls-container{
  width: 50%;
  justify-content: space-evenly;
}

ion-icon{
  font-size: 30px;
}

button{
  background: none;
  border: none;
  outline: none;
}

.timer-controls{
  cursor: pointer;
}

.up:hover{
  transform: translateY(-5px);
  cursor: pointer;
}

.down:hover{
  transform: translateY(5px);
  cursor: pointer;
}

.media-buttons:hover{
  transform: scale(1.2);
  cursor: pointer;
}

#reset:hover{
  transform: rotate(360deg); 
  transition: .7s;
  cursor: pointer;
}